<div class="w-full relative">
  <img
  class="absolute top-10 z-10 w-[1000px] left-0 right-0 m-auto"
  alt="Esland - Premios a la comunidad hispanohablante de Streaming"
  src="../logo-home.svg"
/>
  <video
  class="w-full h-screen object-cover object-top [clip-path:polygon(0_0,100%_0,100%_80%,50%_100%,0_80%)] animate-fade animate-duration-1000 animate-ease-in-out"
  src="/video.mp4"
  autoplay
  loop
  muted>
</video>

  <video
  class="absolute -bottom-48 blur-3xl -z-40"
  src="/video.mp4"
  autoplay
  loop
  muted>
</video>
</div>
